<html>
<title>create Object</title>
<body>
    <form  name="Create Object" method="get" action="/createObject">
        <table >
            <tr><td>Oggetto</td></tr>
            <tr><td><input type="text" name ="ObjectName"></td></tr>

            <tr><td>ID Oggetto</td></tr>
            <tr><td><input type="text" name ="ObjectID"></td></tr>

            <tr><td>PathImage</td></tr>
            <tr><td><input type="text" name ="PathImage"></td></tr>
        </table>
        <input type="reset" value="Cancel">
        <input type="submit" value="Send">
</form>
</body>




</html>