<html>
<title>insert Object</title>
<body>
    <form  name="Insert Object" method="get" action="/insertObject">
        <table >

            <tr><td> ID Oggetto</td></tr>
            <tr><td><select name ="ObjectID">
                <option value="-1"selected disabled hidden>Select an Object <Object></Object></option>
                {%if results|length >0%}
                {% for row in results[0] %}
                    <option value ="{{row['ObjectId']}}">{{row['ObjectId']}} - {{row['ObjectName']}}</option>
                {%endfor%}
                {%endif%}
            </td></tr>

            <tr><td> ID Stanza</td></tr>
            <tr><td><select name ="RoomID" onchange="getBoxes(this)" >
                <option value="-1"selected disabled hidden>Select a Room</option>
                {%if results|length >0%}
                {% for row in results[2] %}
                    <option value ="{{row['RoomID']}}">{{row['RoomID']}} - {{row['RoomName']}}</option>
                {%endfor%}
                {%endif%}
            </td></tr>

            <tr><td>ID Scatola°</td></tr>
            <tr><td><select name ="BoxID" id="selectBoxID" >
                <option value="-1"selected disabled hidden>Select a Box</option>

            </td></tr>

        </table>
        <input type="reset" value="Cancel">
        <input type="submit" value="Send">
</form>
<form action="/" class="inline">
    <button class="float-left submit-button" >Home</button>
</form>
</body>

<script>
    function getBoxes(selectRoom){
        var RoomID=selectRoom.value;
        fetch('/sendBoxOption', {
        headers : {
            'Content-Type' : 'application/json'
        },
        method : 'POST',
        body : JSON.stringify( {
            'RoomID' : RoomID
        })
    })
    .then(function (response){

        if(response.ok) {
            response.json()
            .then(function(response) {
                console.log(response);
                var select = document.getElementById('selectBoxID');
                for (var i=0; i<select.length; i++) {
                    select.remove(i);
                    }
                    if (response.length==0){
                        var none = document.createElement('option');
                        none.value=-2;
                        none.text="None";
                        none.disabled=true;
                        select.add(none);
                    }


                    
                for (let i=0;i<response.length;i++){
                    var opt = document.createElement('option');
                    opt.value = i;
                    //opt.text="hello"
                    opt.text = JSON.stringify(response[i]);
                    opt.text=response[i]['BoxId']+" - "+response[i]["Position"]
                    try {
                        select.add(opt);
                    } catch (error) {
                        console.log(error)
                    }
                }
            });
        }
        else {
            throw Error('Something went wrong');
        }
    })
    .catch(function(error) {
        console.log(error);
    });
    }
    
    
    </script>

</html>